:root {
  --accent-color: #fd9222;
  --black-text-color: #111;
  --white-text-color: #fff;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #FAFAFA;
}

.container {
  width: 100%;
  max-width: 1166px;
  padding: 0 15px;
  margin: 0 auto;
}

p, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

.section-title {
  color: var(--black-text-color);
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.section-title span {
  color: var(--accent-color);
}

/*---------HEADER----------*/

.header-logo {
  display: flex;
  gap: 4px;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 32px;
  color: var(--black-text-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.header-logo-accent {
  font-style: italic;
}

.header-container {
  display: flex;
  gap: 90px;
}

.header-navigation {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: space-between;
}

.header-menu {
  display: flex;
  gap: 24px;
}

.header-menu-link {
  
}

.header-socials {
  display: flex;
  gap: 18px;
  align-items: center;
}

.header-menu-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 32px;
  color: var(--black-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: var(--accent-color);
}

.header-socials-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 32px;
}

/*---------HERO----------*/

.hero {
  padding-bottom: 72px;
}

.hero-container {
  background-color: #2c2825;
  border-radius: 30px;
  padding: 381px 40px 40px;
}

.hero-title {
  max-width: 484px;
  color: var(--white-text-color);
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.03em;
  margin-bottom: 32px;
}

.hero-buttons {
  display: flex;
  align-items: center;
}

.hero-btn {
  color: var(--white-text-color);
  font-size: 14px;
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;
  background-color: var(--accent-color);
  padding: 14px 40px;
  margin-right: 14px;
  border: none;
  border-radius: 100px;
}

.hero-link {
  color: var(--white-text-color);
  font-size: 14px;
  font-weight: 600;
  padding: 14px 40px;
  border: 1px solid #FFF;
  border-radius: 100px;
}

.hero-down {
  color: var(--white-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: 0.03em;
  margin-left: auto;
}

/*---------ADVANTAGES----------*/

.advantages {
  background-color: #1E1823;
  padding: 50px 0;
}

.advantages-list {
  padding: 0 18px;
  display: flex;
  gap: 88px;
}

.advantages-item {
  width: calc((100% - 88px * 2) / 3);
}

.advantages-subtitle {
  color: var(--white-text-color);
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 18px;
}

.advantages-item-text {
  color: rgba(255, 255, 255, 0.70);
  font-size: 14px;
  letter-spacing: 0.02em;
}

/*---------TASTE----------*/

.taste {
  padding-top: 100px;
}

.taste-title {
  max-width: 411px;
  margin: 0 auto;
  margin-bottom: 28px;
}

.taste-text {
  max-width: 486px;
  margin: 0 auto;
  margin-bottom: 50px;
  color: var(--black-text-color);
  text-align: center;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

.taste-list {
  display: flex;
  gap: 19px;
}

.taste-item {
  width: calc((100% - 19px * 3) / 4);
  border-radius: 15px;
  outline: 1px solid #FD9222;
  background: #FFF;
  padding: 28px 36px 28px 28px;
}

.taste-img {
  margin-bottom: 36px;
}

.taste-subtitle {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.29;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.taste-subtitle.light {
  color: var(--white-text-color);
}

.taste-subtitle.dark {
  color: var(--black-text-color);
}

/*---------MADE----------*/

.made {
  padding-top: 100px;
}

.made-title {
  margin-bottom: 50px;
}

.made-wrap {
  display: flex;
  justify-content: space-between;
}

.made-content {
  padding: 32px;
  background-color: #fff;
  border-radius: 15px;
  width: 516px;
}

.made-head {
  color: var(--black-text-color);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  max-width: 350px;
  margin-bottom: 28px;
}

.made-list {
  padding-left: 16px;
  width: 425px;
}

.made-item:not(:last-child) {
  margin-bottom: 24px;
}

.made-item-text {
  color: var(--black-text-color);
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

/*---------LOVED----------*/

.loved {
  padding-top: 100px;
}

.loved-list {}

.loved-item {}

.loved-subtitle {
  color: #111;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
}

.loved-item-text {
  color: rgba(17, 17, 17, 0.70);
  text-align: center;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 0.02em;
}

.loved-btn {
  color: var(--black-text-color);
  font-size: 18px;
  font-family: inherit;
  font-weight: 600;
}

/*---------FOOTER----------*/

.footer {
  background-color: #1E1823;
}

.footer-head-text {
  color: var(--white-text-color);
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: 0.02em;
}

.footer-head-text span {
  color: var(--accent-color);
}

.footer-adress-head {
  color: var(--white-text-color);
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
}

.footer-adress {
  font-style: normal;
}

.footer-adress-list {}

.footer-adress-item {}

.footer-adress-link {
  color: var(--white-text-color);
  text-align: center;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 0.02em;
}

.footer-adress-link:hover,
.footer-adress-link:focus {
  color: var(--accent-color);
}

.footer-navigation {}

.footer-menu {}

.footer-menu-item {}

.footer-menu-link {
  color: var(--white-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.footer-menu-link:hover,
.footer-menu-link:focus {
  color: var(--accent-color);
}