:root {
  --accent-color: #fd9222;
  --black-text-color: #111;
  --white-text-color: #fff;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #FAFAFA;
}

.container {
  width: 100%;
  /* max-width: 1166px; */
  max-width: 375px;
  /* padding: 0 16px; */
  padding: 0 20px;
  margin: 0 auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  color: #111;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

.section-title {
  color: var(--black-text-color);
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.section-title span {
  color: var(--accent-color);
}

.no-scroll {
  overflow: hidden;
}

/**---------HEADER----------*/

.header-logo {
  display: flex;
  gap: 4px;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 14px;
  color: var(--black-text-color);
  /* font-size: 18px; */
  font-size: 14px;
  font-weight: 700;
  /* line-height: 1.11; */
  line-height: 1.29;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.logo-icon-container {
  display: flex;
  align-items: center;
}

.header-logo-accent {
  font-style: italic;
}

.header-container {
  display: flex;
  align-items: center;
  /* gap: 90px; */
}

.header-navigation {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: space-between;
}

.header-menu,
.header-socials {
  display: none;
}

.header-menu-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 32px;
  color: var(--black-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
  transition: color 300ms ease;
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: var(--accent-color);
}

.header-socials-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 32px;
  color: #111;
  transition: color 300ms ease;
}

.social-icon {
  fill: currentColor;
}

.header-socials-link:is(:hover, :focus) {
  color: var(--accent-color);
}

.header-menu-btn {
  padding: 0;
  border: none;
  font-size: 14px;
  line-height: 0.5;
  background-color: transparent;
}

/**---------MOBIL-MENU----------*/

.header-mob-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #1E1823;
  transition: transform 300ms;
  overflow: auto;
}

.is-hidden-mob {
  transform: translateX(100%);
  pointer-events: none;
}

.menu-close-btn {
  display: block;
  width: 28px;
  height: 28px;
  margin-left: auto;
  margin-bottom: 88px;
  padding: 0;
  border: none;
  fill: var(--white-text-color);
  background-color: transparent;
}

.mob-navigation {
  display: flex;
  justify-content: center;
}

.mob-menu-item:not(:last-child) {
  margin-bottom: 24px;
}

.mob-menu-link {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: var(--white-text-color);
}

.mob-menu-link:focus {
  color: var(--accent-color);
}

.mob-menu-link.is-active {
  color: var(--accent-color);
}

.mob-social-list {
  display: flex;
  gap: 12px;
}

.mob-social-link {
  display: block;
  width: 20px;
  height: 20px;
  color: var(--white-text-color);
}

/*---------HERO----------*/

.hero {
  padding-bottom: 80px;
}

.hero-container {
  background-color: #2c2825;
  border-radius: 30px;
  padding: 395px 16px 21px 20px;
  background-image: linear-gradient(180deg, rgba(17, 17, 17, 0.00) 0%, rgba(17, 17, 17, 0.40) 100%),
    url(../images/mob-hero-chocolate-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .hero-container {
    background-image: linear-gradient(180deg, rgba(17, 17, 17, 0.00) 0%, rgba(17, 17, 17, 0.40) 100%),
      url(../images/mob-hero-chocolate-bg-2x.jpg);
  }
}

.hero-title {
  max-width: 484px;
  color: var(--white-text-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.03em;
  margin-bottom: 32px;
}

.hero-buttons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 32px;
}

.hero-btn {
  color: var(--white-text-color);
  font-size: 14px;
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;
  background-color: var(--accent-color);
  padding: 12px 28px;
  margin-right: 14px;
  border: none;
  border-radius: 100px;
  transition: background-color 300ms, color 300ms;
}

.hero-btn:is(:hover, :focus) {
  background-color: #FCF1E0;
  color: var(--accent-color);
}

.hero-link {
  color: var(--white-text-color);
  font-size: 14px;
  font-weight: 600;
  padding: 12px 28px;
  border: 1px solid #FFF;
  border-radius: 100px;
  transition: color 300ms, border-color 300ms;
}

.hero-link:is(:hover, :focus) {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.hero-down {
  display: flex;
  align-items: center;
  gap: 14px;
  color: var(--white-text-color);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: -0.03em;
  transition: color 300ms;
}

.arrow-down-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 38px; */
  width: 28px;
  /* height: 38px; */
  height: 28px;
  background-color: var(--white-text-color);
  border-radius: 50%;
}

.arrow-down-icon {
  fill: var(--accent-color);
  transition: transform 300ms;
}

.hero-down:is(:hover, :focus) {
  color: var(--accent-color);
}

.hero-down:is(:hover, :focus) .arrow-down-icon {
  transform: scale(0.8);
}

/*---------ADVANTAGES----------*/

.advantages {
  background-color: #1E1823;
  padding: 20px 0;
}

.advantages-list {
  display: flex;
  flex-direction: column;
  row-gap: 38px;
  padding-right: 28px;
}

.advantages-item {
  position: relative;
}

.advantages-icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 62px;
  margin-bottom: 22px;
  border: 1px solid rgba(255, 255, 255, 0.50);
  border-radius: 50%;
}

.advantages-subtitle {
  color: var(--white-text-color);
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 18px;
}

.advantages-item-text {
  color: rgba(255, 255, 255, 0.70);
  font-size: 14px;
  letter-spacing: -0.02em;
}

/*---------TASTE----------*/

.taste {
  padding-top: 80px;
}

.taste-title {
  max-width: 283px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.taste-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
}

.taste-item {
  position: relative;
  width: 100%;
  padding: 32px 28px;
  outline: 1px solid #FD9222;
  border-radius: 15px;
  overflow: hidden;
  transition: background-color 300ms, outline 300ms;
}

.taste-item:nth-child(4n+1) {
  background-color: var(--accent-color);
  color: var(--white-text-color);
  outline: 1px solid #FFF;
}

.taste-item:nth-child(4n+3) {
  background-color: #1E1823;
  color: var(--white-text-color);
  outline: 1px solid #1E1823;
}

.info-block {
  position: absolute;
  background-color: #fff;
  padding: 20px 15px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  transform: translateY(101%);
  transition: transform 300ms;
  overflow: auto;
}

.arrow-open {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  color: #FD9222;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 14px;
  right: 14px;
}

.taste-item:nth-child(4n+1) .arrow-open {
  color: #FFF;
}

.taste-item:nth-child(4n+3) .arrow-open {
  color: #FFF;
}

.arrow-open-icon {
  fill: currentColor;
}

.taste-item:nth-child(4n+1):is(:hover, :focus) {
  outline: 1px solid #FFF;
  background-color: #FFF;
}

.taste-item:nth-child(4n+3):is(:hover, :focus) {
  outline: 1px solid #FFF;
  background-color: #FFF;
}

.taste-item:is(:hover, :focus) {
  outline: 1px solid #FFF;
}

.taste-item:is(:hover, :focus) .info-block {
  transform: translateY(0);
}

.info-title {
  color: #111;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.block-btn {
  margin-bottom: 14px;
}

.info-btn,
.info-link {
  padding: 6px 16px;
  font-size: 10px;
  line-height: 1.2;
  border: 1px solid var(--accent-color);
  border-radius: 35px;
}

.info-btn {
  background-color: #FD9222;
  color: #FFF;
  transition: background-color 300ms, color 300ms;
}

.info-link {
  color: #111;
  transition: background-color 300ms, color 300ms;
}

.info-btn:is(:hover, :focus) {
  background-color: #FCF1E0;
  color: #FD9222;
}

.info-link:is(:hover, :focus) {
  background-color: #FCF1E0;
  color: #FD9222;
}

.info-text {
  color: #111;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

.taste-img {
  max-width: 236px;
  margin: 0 auto 16px;
}

.taste-subtitle {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.29;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

/**---------MADE----------*/

.made {
  padding-top: 80px;
}

.made-title {
  margin-bottom: 32px;
}

.made-content {
  margin-top: 20px;
  padding: 20px 14px;
  background-color: #fff;
  border-radius: 15px;
}

.made-head {
  color: var(--black-text-color);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  margin-bottom: 20px;
}

.made-item {
  position: relative;
  padding-left: 16px;
}

.made-item::before {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  left: 0;
  top: 5px;
  background-color: #4C4C4C;
  border: 1px solid #ECEDED;
  border-radius: 50%;
}

.made-item:not(:last-child) {
  margin-bottom: 18px;
}

.made-item-text {
  color: var(--black-text-color);
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

/*---------PRODUCTS----------*/

.products {
  padding-top: 80px;
}

.products-title {
  margin-bottom: 22px;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 22px;
}

.product-item {
  padding: 32px 52px;
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.10);
  background: #FFF;
}

.product-item img {
  max-width: 230px;
  margin-bottom: 8px;
}

.product-subtitle {
  color: #111;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2px;
}

.product-category {
  color: rgba(17, 17, 17, 0.70);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  text-align: center;
  margin-bottom: 18px;
}

.product-price-btn {
  display: block;
  margin: 0 auto;
  color: #111;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  padding: 8px 20px;
  border-radius: 100px;
  border: 1px solid rgba(17, 17, 17, 0.10);
  background-color: #FAFAFA;
  cursor: pointer;
  transition: color 300ms ease, border-color 300ms ease;
}

.product-price-btn:is(:hover, :focus) {
  color: #FD9222;
  border-color: #FD9222;
}

/*---------SELLERS----------*/

.sellers {
  padding-top: 80px;
}

.sellers-title {
  margin-bottom: 32px;
}

.sellers-list {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.sellers-link {
  width: 100%;
}

.sellers-subtitle {
  color: #111;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-align: center;
  padding: 28px 0;
  border-radius: 0px 0px 15px 15px;
  border-right: 1px solid rgba(17, 17, 17, 0.10);
  border-bottom: 1px solid rgba(17, 17, 17, 0.10);
  border-left: 1px solid rgba(17, 17, 17, 0.10);
  background-color: #FFF;
}

.overlay-wrap {
  position: relative;
  
}

.overlay-text {
  color: #FAFAFA;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.02em;
  padding: 178px 40px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px 15px 0px 0px;
  background: linear-gradient(161deg, rgba(253, 253, 255, 0.10) 0%, rgba(8, 2, 21, 0.00) 100%);
  backdrop-filter: blur(7.5px);
  opacity: 0;
  transition: opacity 300ms ease;
}

.sellers-link:is(:hover, :focus) .overlay-text {
  opacity: 1;
}

/**---------LOVED----------*/

.loved {
  padding-top: 80px;
  padding-bottom: 80px;
}

.loved-title {
  margin-bottom: 72px;
}

.loved-list {
  display: flex;
  flex-direction: column;
  gap: 68px;
  margin-bottom: 32px;
}

.loved-item {
  position: relative;
  padding: 56px 24px 24px;
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.10);
  background: #FFF;
  box-shadow: 0px 9.049315452575684px 100px 0px rgba(17, 17, 17, 0.03);
}

.loved-img {
  max-width: 80px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.loved-subtitle {
  margin-bottom: 24px;
  color: #111;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
}

.loved-item-text {
  color: rgba(17, 17, 17, 0.70);
  text-align: center;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

.loved-btn {
  display: block;
  margin: 0 auto;
  padding: 12px 28px;
  color: var(--black-text-color);
  font-size: 14px;
  font-family: inherit;
  font-weight: 600;
  border-radius: 100px;
  border: 1px solid #FD9222;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 300ms ease, color 300ms ease;
}

.loved-btn:is(:hover, :focus) {
  background-color: #FD9222;
  color: #FFF;
}

/**---------FOOTER----------*/

.footer {
  background-color: #1E1823;
  padding: 32px 0;
}

.footer-top {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-bottom: 32px;
  margin-bottom: 32px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}

.footer-head-text {
  max-width: 300px;
  color: var(--white-text-color);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: -0.02em;
}

.footer-head-text span {
  color: var(--accent-color);
}

.footer-social {
  order: 1;
}

.footer-social-head {
  color: #FFF;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  margin-bottom: 14px;
}

.footer-social-list {
  display: flex;
  gap: 14px;
  align-items: center;
}

.footer-social-link {
  display: block;
  color: #FFF;
  transition: color 300ms ease;
}

.footer-social-link:is(:hover, :focus) {
  color: #FD9222;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-adress-head {
  margin-bottom: 14px;
  color: var(--white-text-color);
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
}

.footer-adress {
  font-style: normal;
}

.footer-adress-item:not(:last-child) {
  margin-bottom: 4px;
}

.footer-adress-link {
  color: var(--white-text-color);
  text-align: center;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

.footer-adress-link:hover,
.footer-adress-link:focus {
  color: var(--accent-color);
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.footer-navigation {
  /* padding: 18px 0; */
}

.footer-menu {
  display: flex;
  flex-direction: column;
  /* gap: 24px; */
  gap: 18px;
}

.footer-menu-link {
  color: var(--white-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 300ms;
}

.footer-menu-link:hover,
.footer-menu-link:focus {
  color: var(--accent-color);
}

.subscription-input {
  width: 100%;
  margin-bottom: 32px;
  height: 45px;
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 14px 18px;
  background-color: transparent;
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.02em;
  outline: none;
  transition: border-color 300ms ease;
}

.subscription-input:focus {
  border-color: #FD9222;
}

.subscription-btn {
  display: block;
  width: 120px;
  margin: 0 auto;
  height: 45px;
  padding: 14px 26px;
  border-radius: 100px;
  background: #FD9222;
  color: #FFF;
  color: #FFF;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
  transition: background-color 300ms ease, color 300ms ease;
  border: none;
}

.subscription-btn:is(:hover, :focus) {
  background-color: #FCF1E0;
  color: #FD9222;
}

/**---------MODAL----------*/

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background-color: rgba(46, 47, 66, 0.40);
  transition: visibility 300ms ease, opacity 300ms ease;
}

.modal {
  position: relative;
  max-width: 517px;
  min-height: 622px;
  padding: 32px 24px 24px;
  background-color: #FAFAFA;
  border-radius: 15px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 300ms ease;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.is-hidden .modal {
  transform: translateY(-105%);
}

.close-btn {
  position: absolute;
  top: 14px;
  right: 14px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: color 300ms ease;
}

.close-icon {
  fill: currentColor;
}

.close-btn:is(:hover, :focus) {
  color: #FD9222;
}

.modal-head-text {
  max-width: 255px;
  color: #111;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.modal-head-text span {
  color: #FD9222;
}

.modal-field {
  margin-bottom: 14px;
}

.modal-label {
  color: rgba(64, 64, 64, 0.30);
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.02em;
  margin-bottom: 4px;
  display: block;
}

.modal-input {
  border-radius: 8px;
  border: 1px solid rgba(17, 17, 17, 0.05);
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 46px;
  background-color: transparent;
  outline: none;
  font-size: 14px;
  line-height: normal;
  letter-spacing: -0.02em;
  padding-left: 62px;
  transition: border-color 300ms ease;
}

.input-block {
  position: relative;
}

.input-icon {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 24px;
  transform: translateY(-50%);
  transition: fill 300ms ease;
}

.modal-input:focus {
  border-color: #FD9222;
}

.modal-input:focus + .input-icon {
  fill: #FD9222;
}

.comment-field {
  height: 91px;
  resize: none;
  padding: 14px 18px;
}

.comment-field::placeholder {
  color: rgba(64, 64, 64, 0.30);
}

.policy-wrap {
  margin-bottom: 42px;
}

.user-policy-label {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.60);
}

.policy-link {
  color: #FD9222;
  margin-left: 30px;
}

.check-field {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 6px;
  border: 1px solid rgba(17, 17, 17, 0.14);
  margin-right: 8px;
  fill: transparent;
  transition: border 300ms, background-color 300ms, fill 300ms;
}

.user-policy-input:checked+.user-policy-label .check-field {
  border: none;
  background-color: #FD9222;
  fill: #FFF;
}

.modal-form-btn {
  color: #FFF;
  font-size: 14px;
  font-weight: 600;
  border-radius: 100px;
  background-color: #FD9222;
  border: none;
  padding: 14px 40px;
  cursor: pointer;
  min-width: 117px;
  transition: background-color 300ms, outline 300ms, color 300ms;
}

.modal-form-btn:is(:hover, :focus) {
  background-color: transparent;
  outline: 1px solid #FD9222;
  color: #FD9222;
}